<div class="author-panel">
  <img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} profile photo" width="116" height="116">
  <p class="author-name">{{ site.owner.name }}</p>
  <p class="author-bio">{{ site.owner.bio }}</p>

  <div class="author-links">
    {% if site.owner.email %}<p><a href="mailto:{{ site.owner.email }}"><i class="icon-mail"></i><span>Email</span></a></p>{% endif %}
    {% if site.owner.cv %}<p><a href="{{ site.owner.cv }}"><span>Curriculum Vitae</span></a></p>{% endif %}
    {% if site.owner.github %}<p><a href="https://github.com/{{ site.owner.github }}"><i class="icon-github"></i><span>GitHub</span></a></p>{% endif %}
    {% if site.owner.scholar %}<p><a href="{{ site.owner.scholar }}"><span>Google Scholar</span></a></p>{% endif %}
    {% if site.owner.researchgate %}<p><a href="{{ site.owner.researchgate }}"><span>ResearchGate</span></a></p>{% endif %}
    {% if site.owner.orcid %}<p><a href="{{ site.owner.orcid }}"><span>ORCID</span></a></p>{% endif %}
    {% if site.owner.twitter %}<p><a href="https://twitter.com/{{ site.owner.twitter }}"><i class="icon-twitter"></i><span>Twitter</span></a></p>{% endif %}
    {% if site.owner.linkedin %}<p><a href="https://linkedin.com/in/{{ site.owner.linkedin }}"><i class="icon-linkedin"></i><span>LinkedIn</span></a></p>{% endif %}
  </div>
</div>


<!-- Lastly modified by Hanlin CAI in 2023/10/15 -->
