---
layout: default
---
{% assign show_page_title = page.show_page_title %}
{% if show_page_title == nil %}
  {% assign show_page_title = true %}
{% endif %}
<article class="page home" itemscope itemtype="http://schema.org/Blog">
  <div class="page__inner-wrap">
    {% if show_page_title or page.tagline %}
      <header class="page__header">
        {% if show_page_title and page.title %}<h1 class="page__title">{{ page.title }}</h1>{% endif %}
        {% if page.tagline %}<p class="page__tagline">{{ page.tagline }}</p>{% endif %}
      </header>
    {% endif %}
    <section class="page__content page-content">
      <div class="article-wrap">
        <div class="listing-header">
          <h2>Latest Articles</h2>
          <a href="{{ site.url }}/articles" class="listing-link">View all articles</a>
        </div>
        {% for post in site.categories.articles limit:5 %}
          <article class="listing-item" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
            <h3 itemprop="headline"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h3>
            <p itemprop="text">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
          </article>
        {% endfor %}
      </div>
    </section>
  </div>
</article>
