---
layout: default
---
{% assign show_page_title = page.show_page_title %}
{% if show_page_title == nil %}
  {% assign show_page_title = true %}
{% endif %}
<article class="page" itemscope itemtype="http://schema.org/CreativeWork">
  {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
  <div class="page__inner-wrap">
    {% if page.image.feature %}
      <div class="page__hero">
        <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }} feature image" itemprop="primaryImageOfPage">
      </div>
    {% endif %}
    {% if show_page_title or page.tagline %}
      <header class="page__header">
        {% if show_page_title and page.title %}<h1 class="page__title" itemprop="headline">{{ page.title }}</h1>{% endif %}
        {% if page.tagline %}<p class="page__tagline">{{ page.tagline }}</p>{% endif %}
      </header>
    {% endif %}
    {% if page.show_section_nav != false %}
      <nav class="page__section-nav page-section-nav" data-section-nav hidden aria-label="On this page"></nav>
    {% endif %}
    <section class="page__content page-content" itemprop="text">
      <div class="article-wrap">
        {{ content }}
      </div>
    </section>
  </div>
</article>
