---
layout: default
---
<article class="page post" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <div class="page__inner-wrap">
    {% if page.image.feature %}
      <div class="page__hero">
        <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }} feature image" itemprop="primaryImageOfPage">
      </div>
    {% endif %}
    <header class="page__header">
      <h1 class="page__title" itemprop="headline">{{ page.title }}</h1>
      {% if page.tagline %}<p class="page__tagline">{{ page.tagline }}</p>{% endif %}
    </header>
    <nav class="page__section-nav page-section-nav" data-section-nav hidden aria-label="On this page"></nav>
    <section class="page__content page-content" itemprop="text">
      <div class="article-wrap">
        {{ content }}
      </div>
    </section>
    <footer class="page__meta" role="contentinfo">
      <p><strong>{{ page.title }}</strong> was published on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last updated on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}.</p>
    </footer>
  </div>
</article>
